<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Trip Dashboard</title>
</head>
<body class="bg-info">
<div class="jumbotron bg-warning text-white">
    <div class="row">
        <h3 class="col-9"> Welcome {{username.first_name}}!</h3>
        <h3 class="col-1 text-monospace"><a href="/logout">LOGOUT</a></h3>
        <a class="col-1" href="/create"><input type="submit" value="Create New Trip" class="btn btn-success"></a>
    </div>
</div>

<div class="row">
    <div class="container">
        <h6> Your trips:</h6>
        <table class="table table-hover">
            <thead class="thead-inverse">
            <tr>
                <th>Destination</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Plan</th>
                <th>Action</th>
            </tr>
            </thead>
            {%for t in alltrips%}
            {%if t.travelers.id == username.id%}
            <tr>
                <td><a class="badge badge-primary text-wrap" href="/info/{{t.id}}">{{t.destination}}</a></td>
                <td>{{t.start_date}}</td>
                <td>{{t.end_date}}</td>
                <td>{{t.plan}}</td>
                <td>{%if t.travalers.id == username.id%}<a class="text-monospace badge badge-primary text-wrap" href="/delete/{{t.id}}">Remove</a>{%endif%} | <a class="text-monospace badge badge-primary text-wrap"  href="edit/{{t.id}}">Edit</a></td>
            </tr>
            {%endif%}
            {%endfor%}
        </table>
    </div>
</div>

<div class="row my-5">
    <div class="container">
        <h6> Other People Trips:</h6>
        <table class="table table-hover">
            <thead class="thead-inverse">
            <tr>
                <th>Destination</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Plan</th>
                <th>Action</th>
            </tr>
            </thead>
            {%for ut in alltrips%}
            <tr>
                <td>{{ut.destination}}</td>
                <td>{{ut.start_date}}</td>
                <td>{{ut.end_date}}</td>
                <td>{{ut.plan}}</td>
                <td><a class="text-monospace badge badge-primary text-wrap"  href="#">Join</a></td>
            </tr>
            {%endfor%}
        </table>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>