<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>The Wall</title>
</head>
<body class="bg-info">
<div class="jumbotron" style="background-color: #a0e3ee;">
    <div class="row">
        <h1 class="col-7 text-warning">CodingDojo Wall</h1>
        <p class="h4 col-3">Welcome {{username.first_name}}</p>
        <a href="/logout" class="col-2"><input type="button" name="logoutbutton" value="Log-out" class="btn btn-secondary"></a>
    </div>
</div>

<div class="container">
    <form action="/post" method="POST">
        {% csrf_token %}
        <textarea name="message" rows="5" cols="100">
        </textarea>
        <input type="Submit" class="btn btn-success" value="Post Message">
    </form>
   {%for mess in postmess%}
    <p name="uscre">{{mess.poster.first_name}} - {{mess.created_at}} </p>
    <p name="postedmessage">{{mess.id}}: {{mess.message}}</p>
    {%if mess.poster.id == username.id%}
    <a href="/messdel/{{mess.id}}"><input type="button" name="messagedelete" class="btn btn-danger" value="Delete Message"></a>
    {%endif%}
        {%for comm in postcomm%}
        <p name="uscom">{{comm.commenter.first_name}} - {{comm.created_at}}</p>
        <p name="postedcomment">{{comm.comment}}</p>
        {%if comm.commenter.id == username.id%}
        <a href="/comdel/{{comm.id}}"><input type="button" class="btn btn-danger" name="commdelete" value="Delete Comment"></a>
        {%endif%}
        {%endfor%}
        <form action="/comment" method="POST">
            {% csrf_token %}
            <textarea name="comment" rows="5" cols="100"> 
            </textarea>
            <input type="hidden" name="mid" value="{{mess.id}}">
            <input type="submit" class="btn btn-primary" value="Leave a Comment"> 
        </form>
    {%endfor%}
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>